.CreeAvertissement {
    margin-left: 50%;
    margin-top: 2%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.CreeAvertissement button  {
  font-size: 1em;
  background-color: #23AE4A;
  padding: 10px 20px;
  border-radius: 50px;
    margin-bottom: 10px;
  color: white;
  margin-right: 10px;
 
}

.CreeAvertissement button:hover {

  transform: scale(0.95);
  padding: 10px 20px;
  transition: 0.2s;
  cursor: pointer;
}

.CreeAvertissement input {
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 2px solid #23AE4A;
  margin-right: 10px;
}

.CreeAvertissement input:focus {
  outline: none;
}

.AffichageAvertissement {
   
  padding: 20px; /* Padding of 20px around the content of each element */
  border: 2px solid rgb(179, 175, 175); /* Grey border of 1px */
    border-radius: 10px; /* Rounded corners of 10px */
  background-color: white; /* White background color */
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}



.AffichageAvertissement button {
  font-size: 1em;
  background-color: #23AE4A;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
  color: white;
}

.AffichageAvertissement button:hover {
  transform: scale(0.95);
  padding: 10px 20px;
  transition: 0.2s;
  cursor: pointer;
}

.AffichageAvertissement input {
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 2px solid #23AE4A;
  margin-right: 10px;
}

.AffichageAvertissement input:focus {
  outline: none;
}


  
.AdvertAdminContainer > div:not(.CreeAvertissement) {
   
    margin-top: 10%;
  
    
}

.AdvertAdminContainer h2 {
    font-size: 1em;
    font-weight: bold;
    
}

.AdvertAdminContainer p {
    font-size: 0.90em;
    font-weight: normal;
   
}

.AdminAdvertMargin {
    margin-left: 10%;
    margin-right: 10%;
}

.AdvertAdminContainer h1 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-top: 50px;
   
}


