    @media (max-width: 768px) {
        .img-accueil{
            width: 100%;
            height: 100%;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        
    }
    @media (min-width:769px){
        .img-accueil{
            width: 80%;
            height: 100%;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 10%;
            
        }
    }
    @media (max-width: 768px) {
        .titre-accueil{
            font-size: 28px;
            font-weight: bold;
            margin-top: 100px;
            margin-bottom: 1em;
            text-align: center;
            
        }
    }
    @media (min-width:769px){
        .titre-accueil{
            font-size: 40px;
            font-weight: bold;
            margin-top: 100px;
            margin-bottom: 1em;
            text-align: center;
        }
    }
    @media (max-width: 768px) {
        .img-icones {
            width: 80%;
            height: 80%;
            margin: auto; /* Center horizontally */
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            margin-top: 100px;
           
        }
    }
    @media (min-width:769px){
        .img-icones {
            width: 40%;
            height: 40%;
            margin: auto; /* Center horizontally */
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
          
            margin-top: 100px;
        }
    }
    

